version: "3.4"
services:
  catalog.api:
    container_name: catalog.api
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=mongodb://192.168.1.104:27017"
    ports:
      - "8001:80"
  cart.api:
    container_name: cart.api
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:Redis=redis_db:6379"
      - "GrpcSettings:DiscountUrl=http://discount.grpc"
    ports:
      - "8002:80"
  discount.api:
    container_name: discount.api
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=Server=192.168.1.104;Port=5432;User Id=postgres;Password=3636allen;Database=discount_db;"
    ports:
      - "8003:80"
  discount.grpc:
    container_name: discount.grpc
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=Server=192.168.1.104;Port=5432;User Id=postgres;Password=3636allen;Database=discount_db;"
    ports:
      - "8004:80"